* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  font-size: 1.6rem;
  font-family: 'Acme', sans-serif;
  color: rgb(233, 233, 233);
  background-color: rgb(36, 36, 36);
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 12% auto;
}

h1 {
  margin: 2%;
  font-size: 4rem;
}

canvas {
  display: block;
  background: #eee;
  border: 15px solid rgb(0, 89, 253);
}